* {
	margin: 0px;
	background-color: #181719;
	color: white;
}

/* Header style */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon {
	display: none;
}

.header-title {
	font-family: 'Crimson Pro', serif;
	font-weight: 200;
	font-size: 14px;
	border: 1px solid #FFF;
	width: max-content;
	padding: 8px;
	margin-top:	42px;
	margin-left: 77px; 
	text-transform: uppercase;
}

.active { /* Shows active link */
	font-weight: 700;
	/* border-bottom: 2px solid white; */
	text-decoration: underline;
	text-underline-offset: 8px;
	text-decoration-thickness: 2px;
}

header > nav {
	margin-right: 85px;
	margin-top: 42px;
}

.nav-list {
	list-style: none;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 18px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* border: 2px solid white; */
	padding: 0;
	gap: 82px;
	width: 100%;
}

/* Main style */
.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 110px;
	margin: 150px 77px 0px;
}

/* .text-container { */
/* 	margin-right: 10%; */
/* } */

.text-container > h1 {
	font-family: Lora, serif;
	font-size: 48px;
	font-weight: 500;
	margin-bottom: 40px;
}

.text-container > p {
	font-family: Montserrat, sans-serif; 
	font-size: 24px;
	font-weight: 400;
	width: 400px;	
	margin-bottom: 48px;
}

.image-container > img {
	width: 100%;
}

.read-more {
	text-decoration: none;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 10px;
}

.read-more > svg {
	margin-top: 3px;
}

footer * {
	width: max-content;
	margin: 200px auto 20px;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #A9A9A9;
}

footer > p > strong {
	font-weight: 700;
	text-decoration: underline;
	text-underline-offset: 4px;
	text-decoration-thickness: 1.5px;
} 

/* Post Author */

.author {
	position: relative;
	border-radius: 8px;
	box-shadow: 2px 2px 2px black;
	top: -72px;
	left: 310px;
	width: 380px;
	padding: 30px 15px;
	padding-left: 26px;
	padding-top: 15px;
}

.image-name-pos-container {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 10px;
}

.author-name {
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 14px;
}

.author-position {
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #828282;
}

.img-info {
	font-family: Lora, serif;
	font-weight: 700;
	font-size: 24px;
	width: 290px;
}

.author-image {
	width: 50px;	
}

.author-image > img {
	border-radius: 100px;
	width: 100%;
}

@media screen and (max-width: 960px) and (min-width: 576px) {
	.nav-list {
		gap: 20px;
	}	

	.header-title {
		margin-left: 35px;
	}

	.main-container {
		flex-direction: column;
		align-items: flex-start;
	}
	
	.author {
		left: 200px;
	}

	.footer p {
		margin-top: 60px;
	}
}

@media screen and (max-width: 576px) {
	.header-title {
		margin-top: 18px;
		margin-left: 12px;
	}

	header nav {
		display: none;
	}	

	.icon {
		display: flex;
		margin-top: 18px;
		margin-right: 12px;
	}

	.main-container {
		flex-direction: column;
		align-items: flex-start;
		margin: 45px 12px 0px;
		gap: 30px;
		/* justify-content: flex-start; */
	}
	
	.text-container > h1 {
		font-size: 36px;	
		margin-bottom: 25px;
	}

	.text-container > p {
		font-size: 14px;
		width: 250px;
	}

	.author {
		left: 10%;
		width: 290px;
	}

	.author-name {
		font-size: 12px;
	}

	.author-position {
		font-size: 10px;
	}

	.img-info {
		font-size: 18px;
	}
	
	footer > p {
		margin-top: 120px;	
	}
}

