* {
	margin: 0px;
	background-color: #181719;
	color: white;
}

/* Header style */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-title {
	font-family: 'Crimson Pro', serif;
	font-weight: 200;
	font-size: 14px;
	border: 1px solid #FFF;
	width: max-content;
	padding: 8px;
	margin-top:	42px;
	margin-left: 77px; 
	text-transform: uppercase;
}

.active { /* Shows active link */
	font-weight: 700;
	/* border-bottom: 2px solid white; */
	text-decoration: underline;
	text-underline-offset: 8px;
	text-decoration-thickness: 2px;
}

header > nav {
	margin-right: 85px;
	margin-top: 42px;
}

.nav-list {
	list-style: none;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 18px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* border: 2px solid white; */
	padding: 0;
	gap: 82px;
	width: 100%;
}

/* Main style */
.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 120px;
	margin: 150px 77px 0px;
}

.text-container > h1 {
	font-family: Lora, serif;
	font-size: 48px;
	font-weight: 500;
	margin-bottom: 40px;
}

.text-container > p {
	font-family: Montserrat, sans-serif; 
	font-size: 24px;
	font-weight: 400;
	width: 60%;	
	margin-bottom: 48px;
}

.image-container > img {
	width: 100%;
}

.read-more {
	text-decoration: none;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 10px;
}

.read-more > svg {
	margin-top: 3px;
}

footer * {
	width: max-content;
	margin: 80px auto 0px;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #A9A9A9;
}

footer > p > strong {
	font-weight: 700;
	text-decoration: underline;
	text-underline-offset: 4px;
	text-decoration-thickness: 1.5px;
} 
